*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.up {
}
.up_text {
}
.title {
    font-size: x-large;
    font-weight: 400;
}
.text {
}
.button {
}
.up_img_rigth {
}
.up_img_left {
}
.down {
}
