
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    padding: 0% 2%;
}
.container{
    position: relative;
}
.text{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}
.up{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 33%;
}
.title{
    display: flex;
    flex-direction: column;
    font-size: clamp(1em, 4vw, 5em);
    font-weight: bold;
}
.txt_main{
    color: rgb(0, 0, 0);
    font-size: clamp(0.7em, 1vw, 1em);
    text-align: justify;
}
.buttom{
    background-color: #000000;
    width: max-content;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-size: clamp(0.8em, 1vw, 1em);   
}

.down{
    align-self: flex-end;
    display: flex;
    align-content: center;
    width: 40%;
    gap:15px;
}
.text_down{
    font-size: clamp(0.8em, 1vw, 1em);
}
.images{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 80vw;
    gap:20px;
    z-index: 1;
    right: 0;
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.img_down{
    align-self: flex-end;
}
.img_middle{
    align-self: center;
}
.figures{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}
.spiral{
    position: relative;
    top:100vh;
    left: 0;
    width: 10%;
}
.star_1{
    position: relative;
    left: 50vw;

}
.star_2{
    position: relative;
}
.figures{
    position: relative;
}
img{
    width: 100%;
}