*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.rightup{
    order:1;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.left{
    order:2;
}
.rightbot{
    order:3;
    display: flex;
    flex-direction: column;
    gap:20px;
}
img{
    max-width: 100%;
}
.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

}
.maintext {
    text-align: justify;
    font-size: 1.5rem;
}
.buttom {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    width: max-content;
    align-self: center;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.number {
    font-size: 2rem;
    color: #31313182;
    font-weight: bold;
    text-align: center;
}
.textbox {
    font-size: 1.5rem;
    text-align: justify;
}

@media (min-width:600px) {
    .container {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img {
        width: 100%;

    }
    .left {
        padding-top: 0;
        width: 50vw;
        padding: 0;
        grid-column-start: 1;
        grid-row:  1/span 2;
        align-self: flex-start;
        

    }
    .rightup {
        padding: 10%;
        grid-column: 2/span 1;
        padding-bottom: 2.5%;
        align-self: flex-start;
    }
    .rightbot {
        padding: 10%;
        grid-column: 2/span 1;
        align-self: flex-start;
        padding-top: 2.5%;
    }
    .buttom {
        align-self: flex-start;
    }
    .number {
        align-self: flex-start;
        font-size: calc(1.5rem + 1vw); /* Ajuste el valor según sea necesario */
    }
    .textbox {
        font-size: calc(1rem + 1vw); /* Ajuste el valor según sea necesario */
    }
    .title {
        font-size: calc(2.5rem + 1.5vw); /* Ajuste el valor según sea necesario */
    }
    .buttom, .maintext {
        font-size: calc(1rem + 1vw); /* Ajuste el valor según sea necesario */
    }
}
